body {
    background-color: #fdde7e;
}
main {
    display: flex;
    flex-direction: row;
    
}
.one {
    padding-left: 50px;
    width: 20%;
    height: 400px;
    border: 1px solid grey;
    margin-right: 50px;
    margin-left: 20px;
    margin-top: 48px;
    background-color: #ffffff;
    text-align: center;
}
.two {
    padding-left: 50px;
    width: 25%;
    height: 497px;
    border: 1px solid grey;
    margin-top: 60px;
    margin-right: 50px;
    background-color: #ffffff
    
}
.three {
    padding-left: 50px;
    width: 20%;
    height: 400px;
    border: 1px solid grey;
    margin-top: 48px;
    margin-right: 50px;
    background-color: #ffffff
}


.box,
.box1,
.box2 {
    position: relative;
    text-align: center;
    margin-top: 30px;
}

.desc,
.desc1,
.desc2 {
    font-family: Miso;
    font-weight: 300;
    letter-spacing: 0.5px;
    line-height: 26px;
    text-align: center;
}

